*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
}
.regist{
  position: relative;
  /* position: absolute; */
max-width: 800px;
height: 70vh;
margin: auto;
display: flex;
background-color: whitesmoke;
}
.recontainer{
position: absolute;
left:260px;

}
.regiscont{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-between;
}
.harvest{
  width: 240px;
  height:100%;

}
.recontainer .heading{
  margin: 0px 0px 20px 150px  ;

  
}
.heading span{
  font-size: 30px;
}
.harvest  img{
  width:100%;
  height: 100%;
  object-fit: fixed;
  object-position: center;

}
.regpage{
  display: flex;
  justify-content:center;
  flex-direction: column;
  width: 200px;
}
.regpage>input[type='text'],select,input[type='email'],input[type='date']{
  width:100%;
  height: 28px;
  border: rgb(red, green, blue);
  border-radius: 5px;
  margin-bottom: 14px;
}
.regpage>input[type='text'],select,input[type='email'],input[type='date']:hover{
  outline: none;
}
.regpage>label{
  font-size: 12px;
  padding-left: 5px;
  /* padding-bottom: 0px; */
}
.recontainer .btn{
  margin: 15px 0 0 100px;
}

.sex{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
.btn>input[type='button']{
  width:200px;
  height:40px;
  background-color: orange;
  border:none;
  border-radius: 13px;
  left:80px;

}
.btn>input[type='button']:hover{
  cursor: pointer;
  outline: none;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.5);
}
.recontainer .loged{
  margin-top: 20px;
}
.sidebar{
  width:180px;
  height: 89vh;
  /* margin-top: 60px; */
  /* background: oran;  */
  background: orange;

}
.subdetails{
  font-weight: 12px;
  padding: 5px 0px 0px2px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sidebar .logo{
  width: 60px;
  height: 20px;
  background-color: rebeccapurple;
}
.logo .logoimg{
  object-fit:cover;
  object-position: center;
  /* background: rgba(0, 0,0,0.6); */
}
.navpage{
  position: absolute;
  left: 200px;
}
.sideList{
  padding: 0px;
  list-style-type: none;
  width:100%;
  margin: 0px;
}
.sideList .rows{
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  

}
.icon{
  flex: 20%;
  display: grid;
  color: white;
}
.sidetite{
  flex: 80%;
  font-family: 'font-bold';
  text-decoration: none;
  color:white;
  flex-grow: 40px;
}
.sideList .rows:hover{
  background-color: white;
  color:black;
  /* cursor: pointer; */
}

.navbar{
  width:100vw;
  height: 60px;
  background-color: whitesmoke;

}